@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer base{
  h1{
    @apply text-4xl font-extrabold;
  }

  hr{
    @apply h-[3px] bg-gray-400 w-10/12 my-5;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    @apply outline-none p-2 px-4 border border-gray-400 rounded-2xl;
  }

  main {
    @apply flex flex-col items-center p-5
  }
}

@layer components {
  .confirm-button {
    @apply p-3 mt-5 rounded-full shadow-md shadow-emerald-400 active:shadow-inner active:shadow-emerald-400 disabled:shadow-none disabled:text-gray-400 disabled:border-2;
  }

  .reset-button {
    @apply p-3 mt-5 rounded-full shadow-md shadow-red-400 active:shadow-inner active:shadow-red-400 disabled:shadow-none disabled:text-gray-400 disabled:border-2;
  }



  .text-error {
    @apply text-sm text-red-500 italic;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
